crewai==0.28.5
langchain==0.1.1
duckduckgo-search==4.1.1
pydantic==2.5.2
pyyaml==6.0.1
litellm==1.5.4
python-dotenv==1.0.0
requests==2.31.0
Flask==2.3.3
Werkzeug==2.3.8
textblob==0.17.1
yfinance==0.2.36
pandas==2.2.1
numpy==1.26.4
scikit-learn
httpx==0.24.1
certifi==2024.2.2
